!!!
%html(lang="zh-CN")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title Trello manager
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    %script{src: "//api.trello.com/1/client.js?key=#{Settings.trello.developer_public_key}"}
    = surround raw("<!--[if lt IE 9]>\n"), raw("\n<![endif]-->") do
      = javascript_include_tag "html5"

    = content_for?(:head) ? yield(:head) : nil
    = csrf_meta_tags

  %body
    .navbar.navbar-default
      .navbar-header
        %a.navbar-brand.logo(href="/")
          Trello Notifications
    .container
      - if notice
        .alert.alert-success=notice
      - if alert
        .alert.alert-danger=alert
      = content_for?(:content) ? yield(:content) : yield
